body {
    background-image: url('../../images/pawprints6.png');
    background-attachment: fixed;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

/* header styles */
header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-style:ridge;
    border-width: 10px;
    border-radius: 10px;
    margin: 20px;
}

/* #banner_message {
    need to center
} */

h3 {
    text-align: center;
    padding: 10px;
    font-size: 35px;
    border-radius: 45px;
}

.breed_select {
    font-weight: bold;
    cursor:pointer;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 18vw;
    height: 8vh;
}

/* search history container */
.search-history {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

/* search history buttons */
.button{
    margin: 10px;
    font-weight: bold;
    cursor: pointer;
    font-size: 35px;
    border-radius: 45px;
}
.button:hover {
    font-size: 38px;
}

breed info
.table {
    font-size: 30px;
    font-weight: bold;
    border-style: ridge; 
    border-width: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
}

#random-news {
    border-style: ridge;
    border-color: aqua;
    border-radius: 10px;
    border-width: 10px;
    margin: 10px;
}

a {
    color: black;
    text-align: center;
}
a:hover {
    color: teal;

}
#footer {
    margin: 10px;
    border-style: ridge;
    border-radius: 10px;
    border-width: 10px;
}

.foot {
    font-size: 30px;
    font-weight: bold;
}